body {
    background-color: hsl(0, 0%, 95%);
    margin: 7.5% 15% 5%;
}
h1 {
    color: hsl(0, 0%, 95%);
    font-family: "Big Shoulders Display", sans-serif;
    text-transform: uppercase;
    padding-bottom: 1rem;
}
img {
    width: 5rem;
    padding-left: 1rem;
    padding-top: 1rem;
    padding-bottom: 2rem;
}
p {
    color: hsl(0, 0%, 100%, 0.75);
    font-family: "Lexend Deca";
    font-size: 15px;
    font-weight: 100;
    line-height: 2;
}
.attribution { font-size: 11px; text-align: center;}
.attribution a { color: hsl(228, 45%, 44%);}
.btn {
    border-radius: 25px;
    margin-top: 4rem;
    mix-blend-mode: lighten;
}
.btn:hover {
    border: 2px solid;
    border-color: hsl(0, 0%, 95%);
    color: hsl(0, 0%, 95%);
    cursor: pointer;
    background: black;
}
.card {padding: 1.5rem;}
.first {background-color: hsl(31, 77%, 52%);}
.last {background-color: hsl(179, 100%, 13%);}
.middle {background-color: hsl(184, 100%, 22%);}

@media screen and (max-width: 576px) {
    .card-group .card {
        margin-bottom: 0;
    }
    .first {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    .last {
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }
    .middle {
        border-radius: 0%;
    }
}
@media screen and (min-width: 576px) and (max-width: 1100px) {
    body {margin: 10% 2%;}
}